<div class="ng-ms form-item-container">
    <div class="list-line-container">
        <ul class="list-line">
            <li ng-repeat="item in vm.modelArr" class="select-inline">
                <span class="selected-item" ng-if="vm.objectProperty == undefined || vm.objectProperty == ''">
              <span class="remove" ng-click="vm.removeAddedValues(item)">
                <i class="remove icon"></i>
              </span>&nbsp; {{item}}
                </span>
                <span ng-if="vm.objectProperty != undefined && vm.objectProperty != ''">
              <span class="remove" ng-click="vm.removeAddedValues(item)">
                <i class="remove icon"></i>
              </span>&nbsp; {{item[vm.objectProperty]}}
                </span>
            </li>
            <li ng-if="vm.showInput" class="list-input">
                <input name="{{name}}" ng-model="vm.inputValue" placeholder="{{vm.placeholder}}" class="select_input" ng-keydown="vm.keyParser($event)"
                    err-msg-required="{{errMsgRequired}}" ng-disabled="vm.disable" ng-focus="vm.onFocus()" ng-blur="vm.onBlur()"
                    ng-required="!vm.modelArr.length && isRequired" ng-model-options="{ debounce: vm.debounce }" ng-change="vm.onChange()">
                <div class="remove-all-icon" ng-if="vm.clearAll">
                    <i class="remove icon pull-right" ng-click="vm.removeAll()"></i>
                </div>
            </li>
        </ul>
    </div>
    <div ng-if="vm.showOptionList && vm.suggestionsArr" class="autocomplete-list" ng-mouseenter="vm.onMouseEnter()" ng-mouseleave="vm.onMouseLeave()">
        <ul ng-if="vm.isFocused || vm.isHover">
            <li ng-class="{'autocomplete-active' : vm.selectedItemIndex == $index}" ng-if="suggestion.visible" ng-repeat="suggestion in vm.suggestionsArr track by suggestion._id"
                ng-click="vm.onSuggestedItemsClick(suggestion)" ng-mouseenter="vm.mouseEnterOnItem($index)">
                <span ng-if="vm.objectProperty == undefined || vm.objectProperty == ''">{{suggestion}}</span>
                <span ng-if="vm.objectProperty != undefined && vm.objectProperty != ''">{{suggestion[vm.objectProperty]}}</span>
            </li>
        </ul>
    </div>
</div>